/* Design: https://codepen.io/olhilton/pen/dXaqxE */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 25px;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

.product-item {
  max-width: 250px;
  padding-bottom: 10px;
  transform: scale(0.95);
  transition: box-shadow 1s, transform 1s;
}

.product-item:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.product-item__info {
  float: left;
  width: calc(80% - 40px);
}

.product-item__info h2 {
  font-size: 0.8em;
}

.product-item__action {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  transition: background 0.5s;
}

.product-item__action:hover {
  background: #A6CDDE;
  border-radius: 5px;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2);
}

.product-item__action svg {
  font-size: 30px;
  padding: 17px;
  color: #254053;
  transition: transform 0.5s;
}

.form-control {
  padding-bottom: 20px !important;
}